database = "botcenter.db"
database_signal = "botcenter_signal.db"
listen = "0.0.0.0:5001"
timeout_ms = 3000

relays = [
  "wss://relay.keychat.io",
  "wss://relay.damus.io",
  "wss://relay.primal.net"
]

[cashu]
allow_free = false
allow_pending = false
database = "cashu.db"
mints = ["https://8333.space:3338"]
